# -----------------------------------------------------------------
#
#      VMware standard check
#      Need  https://github.com/john-dupuy/check-vmware
#
# -----------------------------------------------------------------


## Check commands for vmware esx host
define command{
       command_name     check_esx_host_cpu
       command_line     $PLUGINSDIR$/check_vmware.py -V $_HOSTVCENTER$ -H $HOSTALIAS$ -u $_HOSTVCENTER_LOGIN$ -p $_HOSTVCENTER_PASSWORD$ -m host_cpu -c $_HOSTESX_CPU_CRIT$ -w $_HOSTESX_CPU_WARN$
}
define command{
       command_name     check_esx_host_mem
       command_line     $PLUGINSDIR$/check_vmware.py -V $_HOSTVCENTER$ -H $HOSTALIAS$ -u $_HOSTVCENTER_LOGIN$ -p $_HOSTVCENTER_PASSWORD$ -m host_memory -c $_HOSTESX_MEM_CRIT$ -w $_HOSTESX_MEM_WARN$
}
define command{
       command_name     check_esx_host_status
       command_line     $PLUGINSDIR$/check_vmware.py -V $_HOSTVCENTER$ -H $HOSTALIAS$ -u $_HOSTVCENTER_LOGIN$ -p $_HOSTVCENTER_PASSWORD$ -m host_status
}
define command{
       command_name     check_esx_host_datastore_accessibility
       command_line     $PLUGINSDIR$/check_vmware.py -V $_HOSTVCENTER$ -H $HOSTALIAS$ -u $_HOSTVCENTER_LOGIN$ -p $_HOSTVCENTER_PASSWORD$ -m host_datastore_accessibility
}
define command{
       command_name     check_esx_host_datastore_status
       command_line     $PLUGINSDIR$/check_vmware.py -V $_HOSTVCENTER$ -H $HOSTALIAS$ -u $_HOSTVCENTER_LOGIN$ -p $_HOSTVCENTER_PASSWORD$ -m host_datastore_status
}
define command{
       command_name     check_esx_host_datastore_usage
       command_line     $PLUGINSDIR$/check_vmware.py -V $_HOSTVCENTER$ -H $HOSTALIAS$ -u $_HOSTVCENTER_LOGIN$ -p $_HOSTVCENTER_PASSWORD$ -m host_datastore_usage -c $_HOSTESX_DISK_CRIT$ -w $_HOSTESX_DISK_WARN$
}
## Check commands for vmware vcenter system
define command{
       command_name     check_vcenter_system_datastore_status
       command_line     $PLUGINSDIR$/check_vmware.py -V $HOSTALIAS$ -u $_HOSTVCENTER_LOGIN$ -p $_HOSTVCENTER_PASSWORD$ -m system_datastore_status
}
define command{
       command_name     check_vcenter_system_datastore_usage
       command_line     $PLUGINSDIR$/check_vmware.py -V $HOSTALIAS$ -u $_HOSTVCENTER_LOGIN$ -p $_HOSTVCENTER_PASSWORD$ -c $_HOSTVCENTER_DISK_CRIT$ -w $_HOSTVCENTER_DISK_WARN$ -m system_datastore_usage
}
define command{
       command_name     check_vcenter_system_connection_vms
       command_line     $PLUGINSDIR$/check_vmware.py -V $HOSTALIAS$ -u $_HOSTVCENTER_LOGIN$ -p $_HOSTVCENTER_PASSWORD$ -m system_connection_vms
}
define command{
       command_name     check_vcenter_system_network_accessibility
       command_line     $PLUGINSDIR$/check_vmware.py -V $HOSTALIAS$ -u $_HOSTVCENTER_LOGIN$ -p $_HOSTVCENTER_PASSWORD$ -m system_network_accessibility 
}
define command{
       command_name     check_vcenter_system_recent_tasks
       command_line     $PLUGINSDIR$/check_vmware.py -V $HOSTALIAS$ -u $_HOSTVCENTER_LOGIN$ -p $_HOSTVCENTER_PASSWORD$ -m system_tasks -w $_HOSTVCENTER_TASKS_WARN$ -c $_HOSTVCENTER_TASKS_CRIT$
}
